Django
django-cors-headers
django-jazzmin
djangorestframework
djangorestframework-simplejwt
idna
joblib
numpy
pillow
PyJWT
requests
scikit-learn
scipy
soupsieve
sqlparse
threadpoolctl
typing_extensions
urllib3
asgiref
beautifulsoup4
certifi
charset-normalizer
