{% extends "homepage.html" %}
{% load static %}
{% block title %}My Applications{% endblock %}

{% block content %}
<div class="container mx-auto mt-5">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-3xl font-bold">My Applications</h1>
        <button  
                class="bg-[#000B5B] text-white px-4 py-2 rounded hover:bg-[#003399]">
            <a href="{% url 'registerApp'%}"><i class="fas fa-plus"></i> Add New App</a>
        </button>
    </div>
    
    <div class="bg-white shadow-md rounded my-6">
        <table class="min-w-full bg-white">
            <thead class="bg-[#19182D] text-white">
                <tr>
                    <th class="w-1/3 py-3 px-4 uppercase font-semibold text-sm">Project Title</th>
                    <th class="w-1/3 py-3 px-4 uppercase font-semibold text-sm">App Name</th>
                    <th class="w-1/3 py-3 px-4 uppercase font-semibold text-sm">Actions</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                {% for project in projects %}
                    {% if project.title %}
                        {% for application in project.applications.all %}
                            <tr>
                                <td class="w-auto text-center py-3 px-4">{{ project.title }}</td>
                                <td class="w-auto text-center py-3 px-4">{{ application.name }}</td>
                                <td class="w-full py-3 px-4 flex justify-between">
                                    <button class="text-blue-500 hover:text-blue-700">
                                        <a href="{% url 'template_list'%}?parent_id={{ application.id }}">
                                            <i class="fa-solid fa-street-view"></i> View
                                        </a>
                                    </button>
                                    <button class="text-red-500 hover:text-red-700 ml-4">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
